@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

body {
  font-family: "Mooli", sans-serif;
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  color: black;
  height: 100vh; 
  margin: 0; 
}

/* Add some style to the game container */
.cellContainer{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  border: 1px solid #8de7fb;
  box-shadow: 0 0 50px 2px #8de7fb;

}

.cellContainer .cell {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 3px solid #8de7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
}

.cell:hover {
    background-color: #d5ecf4;
}

/* Add style for the title */
.title {
    text-align: center;
    margin-top: 20px;
}

/* Style the Reset button */
#resetBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: linear-gradient(20deg, #8de7fb, #ccc);
    background-color: #dbeef8;
    color: rgb(6, 6, 6);
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}



